{% load staticfiles %}
<html>
    <head>
        <title>Sunil Kumar blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
		</head>
    <body>
        <div>
            <h1><a href="">Sunil Kumar Blog</a></h1>
        </div>

        <div>
            <p>published: 22.06.2016, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Act the way that the people around you are acting. This phrase might come in handy when you're traveling abroad notice that people do things differently than you're used to.</p>
        </div>

        <div>
            <p>published: 22.06.2014, 14:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Your own home is the most comfortable place to be.</p>
        </div>
    </body>
</html>
